@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins,sans-serif;
}
body, html{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    flex-direction: column;
}
.btn{
    background-color: blue;
    padding: 1rem 1.5rem;
    font-weight: 700;
    color: white;
    border-radius: 10px;
    display: block;
    font-size: 1.2rem;
}
.text{
    font-size: 1.2rem;
    border: none;
}
.pic{
    margin-bottom: 50px;
}